.container {
  width: 940px;
}

.cheeseburger {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.coffee {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.cola {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.fries {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.hamburger {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.tea {
  width: 300px;
  height: 10%;
  margin: 2% auto;
  border-radius: 25px;
  color: aquamarine;
}

.Orderdetails {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}